{% extends "base.html" %}

{% block title %}
  Об авторе
{% endblock %}

{% block content %}

  <div class="container py-5">     
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        
        <div class="card">
          
          <div class="card-header">
            Ваня Шанин
          </div>
          
          <div class="card-body">
            <p>Как меня найти</p>
            <nav>
              <ul>
                <li>
                  <a target="_blank" href="https://t.me/justicewisdom">
                    В телеграмe
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://instagram.com/justice_wisdom">
                    В инстаграме
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://github.com/dinosaurivan">
                    На гитхабе
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/justicewisdom97">
                    В твиттере
                  </a>              
                </li>
              </ul>
            </nav>

            <p>Мои проекты</p>
            <ul>
              <li>
                <a target="_blank" href="https://dinosaurivan.github.io/mesto-project">Проект Mesto</a>
              </li>
              <li>
                <a target="_blank" href="https://dinosaurivan.github.io/russian-travel">Путешествия по России</a>
              </li>
              <li>
                <a target="_blank" href="https://dinosaurivan.github.io/how-to-learn-plus">Научиться учиться</a>
              </li>                        
            </ul>
          </div> <!-- card-body -->
        </div> <!-- card -->
      
      </div>
    </div>
  </div>  

{% endblock %}
